

/* SUPPRESSION DU SCROLL LATÉRAL */

html, body {
max-width: 100%;
overflow-x: hidden;
}

.main-header {
    background: black;
    color: white;
    top: 0;
    z-index: 10000;
    border-radius: 10px;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.mini_logo {
    font-size: 1.1rem;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav a:hover {
    color: #f39c12;
  }
  
  .burger {
      display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 3px;
}

/* RESPONSIVE */
@media (max-width: 950px) {

    .main-header {
        margin: 20px; /* ou 5vw si tu veux plus flexible */
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        color: black;
      }

    .nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        flex-direction: column;
        background-color: rgb(255, 0, 0);
        width: 100%;
        text-align: center;
        padding: 20px 20px;
        border-bottom-left-radius: 10px;
    }
    
    .nav.active {
        display: flex;
    }
    
    .burger {
        display: flex;
    }

    .burger span {
        background-color: #000000;
     }
}
