@font-face {
    font-family: 'PP Playground';
    src: url('PPPlayground-Light.woff2') format('woff2'),
        url('PPPlayground-Light.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Playground';
    src: url('PPPlayground-Medium.woff2') format('woff2'),
        url('PPPlayground-Medium.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Playground';
    src: url('PPPlayground-Thin.woff2') format('woff2'),
        url('PPPlayground-Thin.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

