@font-face {
    font-family: 'PPPlayground';
    src: url('font/PPPlayground-Light.woff2') format('woff2'),
         url('font/PPPlayground-Light.woff') format('woff');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'PPPlayground';
    src: url('font/PPPlayground-Medium.woff2') format('woff2'),
         url('font/PPPlayground-Medium.woff') format('woff');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'PPPlayground';
    src: url('font/PPPlayground-Thin.woff2') format('woff2'),
         url('font/PPPlayground-Thin.woff') format('woff');
    font-weight: 100;
  }
  
