  @font-face {
     font-family: 'PP Playground' ;
     src: url('font/PPPangaia-Medium.woff') format('woff');
     font-weight: 100;
  }
  
  @font-face {
     font-family: 'PP Playground' ;
     src: url('font/PPPangaia-MediumItalic.woff') format('woff');
     font-weight: 100;
  }
  
  @font-face {
     font-family: 'PP Playground' ;
     src: url('font/PPPangaia-BoldItalic.woff') format('woff');
     font-weight: 150;
  }
  
  
  @font-face {
     font-family: 'PP Playground' ;
     src: url('font/PPPangaia-UltralightItalic.woff') format('woff');
     font-weight: 200;
  }
  
  
  @font-face {
     font-family: 'PP Playground' ;
     src: url('font/PPPangaia-Ultralight.woff') format('woff');
     font-weight: 200;
  }
  
