.carousel-form {
width: 950px;
height: 500px;
position: relative;
overflow: hidden;
margin: auto;
background: transparent;
}

.carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  padding-left: 20px;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

/* Affiche seulement l'image cliquée */
/* Carrousel 1 - Application CSI */
#slide1:checked ~ .carousel-container label[for="slide1"],
#slide2:checked ~ .carousel-container label[for="slide2"],
#slide3:checked ~ .carousel-container label[for="slide3"],
#slide4:checked ~ .carousel-container label[for="slide4"] {
  display: flex;
}

/* Carrousel 2 - Site SIAO */
#slide1_siao:checked ~ .carousel-container label[for="slide1_siao"],
#slide2_siao:checked ~ .carousel-container label[for="slide2_siao"],
#slide3_siao:checked ~ .carousel-container label[for="slide3_siao"],
#slide4_siao:checked ~ .carousel-container label[for="slide4_siao"] {
  display: flex;
}

.carousel-form input[type="radio"] {
  display: none;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 15px;
  position: absolute;
  top: 15px;
  width: 50%;
  z-index: 3;
}

.carousel-indicators .dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #bbb;
  cursor: pointer;
}

/* Carrousel 1 - Application CSI */
input#slide1:checked ~ .carousel-indicators label[for="slide1"],
input#slide2:checked ~ .carousel-indicators label[for="slide2"],
input#slide3:checked ~ .carousel-indicators label[for="slide3"],
input#slide4:checked ~ .carousel-indicators label[for="slide4"] {
  background: #ffcc00;
}

/* Carrousel 2 - Site SIAO */
input#slide1_siao:checked ~ .carousel-indicators label[for="slide1_siao"],
input#slide2_siao:checked ~ .carousel-indicators label[for="slide2_siao"],
input#slide3_siao:checked ~ .carousel-indicators label[for="slide3_siao"],
input#slide4_siao:checked ~ .carousel-indicators label[for="slide4_siao"] {
  background: #ff0000;
}


